/* footer.css */

.footer-container {
    display: flex;
    background-color: #636161;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #ffffff; /* Couleur du texte */
  }
  
  pre {
    color: #ffcc00; /* Couleur de l'ASCII art */
    font-size: 18px; /* Taille de la police */
  }
  