.controls-container {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  padding: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}


  .play {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    /* border: solid rgb(255, 255, 255) 3px; */
    padding: 20px;
             

  }

  .play.running {
    background-color: tomato;
  }

  .play:hover {
    cursor: pointer;
             

  }

  .refresh {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid magenta 3px; */
    background: cornflowerblue;
    padding: 20px;
  }

  .refresh:hover {
    cursor: pointer;
             

  }

  .start-stop-clear {
    width: 1em;
    height: 1em;
    font-size: 25px;
    color: #ffffff;
  }


  
  