.game-container {
  border: solid rgb(195, 196, 195) 0.1px;
  padding: 10px;


}


.grid {
  max-height: calc(100vh - 100px);
  display: grid;
  width: 100%;
  grid-template-columns: repeat(30, 15px);
}

.cell {
  width: 15px;
  height: 15px;
  cursor: crosshair;
  transition: background-color 0.3s, filter 0.3s;
}


.alive {
  background-color: transparent;
  background-image: radial-gradient(rgb(255, 255, 255) 0%, transparent 70%);
  filter: brightness(150%);
}

.alive.dim {
  filter: brightness(50%);
}