/* .App {
  text-align: center;
  padding: 40px;
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
} */

.App {
  text-align: center;
  padding: 40px;
  background-color: #000000; /* Fond de l'espace noir */
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}

  